{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <h1 class="header center">Flato</h1>
        <div class="row center">
            <h4 class="header col s12 light center">A modern news site</h4>
        </div>
        <div class="row center">
            <a href="/feed"
               class="btn-large waves-effect waves-light">To The Feed</a>
        </div>
        <div class="row center">
            <a href="/post_list"
               class="btn-large waves-effect waves-light">About Us</a>
        </div>
        <br>
    </div>
</div>

  <div class="slider">
    <ul class="slides">
        {% for image in images %}


      <li>
        <img src="https://lorempixel.com/580/250/nature/1"> <!-- random image -->
      </li>


        {% endfor %}
    </ul>
  </div>





{% endblock %}
